@font-face{
  font-family: Navigo-Bold; 
  src: url(./fonts/Navigo-Bold.ttf); 
}
@font-face{
  font-family: Navigo-Light; 
  src: url(./fonts/Navigo-Light.ttf); 
}
@font-face{
  font-family: Navigo-Regular; 
  src: url(./fonts/Navigo-Regular.ttf); 
}
:root, body{
  margin: 0;
  padding: 0;
}